<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>展示文本</title>
    <script src="js/jquery.min.js"></script>
    <script type="text/javascript">
    </script>
</head>

<body>
    <textarea style="width:100%; height: 100%; overflow:hidden; position:absolute; top: 0; left: 0; z-index: 2;">
        <%= data %>
    </textarea>

</body>

</html>